In [14]:
import pandas as pd

In [15]:
spots = pd.read_csv('../data/tourist_spots.csv')
rests = pd.read_csv('../data/seoul_restaurant.csv')

In [16]:
display(spots.info())
spots_c = spots[['관광지명_한글', '지번주소', '위도', '경도']].set_axis(['관광지명', '주소', '위도', '경도'], axis=1)
display(spots_c.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   언어명      100 non-null    object
 1   관광지명     100 non-null    object
 2   구분       100 non-null    object
 3   관광지명_한글  99 non-null     object
 4   지번주소     95 non-null     object
 5   도로명주소    77 non-null     object
 6   경도       95 non-null     float64
 7   위도       95 non-null     float64
dtypes: float64(2), object(6)
memory usage: 6.4+ KB

None

           관광지명                주소         위도          경도
0           경복궁    서울 종로구 세종로 1-1  37.577613  126.976898
1        북촌한옥마을   서울 종로구 가회동 30-2  37.581768  126.984812
2         남대문시장    서울 중구 남창동 49-1  37.559182  126.977627
3  반포대교 달빛무지개분수  서울 서초구 반포동 649-1  37.512622  126.998394
4          광장시장    서울 종로구 예지동 2-1  37.570034  126.998942

In [17]:
display(rests.info())
rests_c = rests[['rest', 'post', 'latitude', 'longitude', 'category', 'score', 'count' ]].set_axis(['식음업장명', '주소', '위도', '경도', '분류', '평점', '리뷰수'], axis=1)
display(rests_c.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rest       400 non-null    object
 1   category   400 non-null    object
 2   score      400 non-null    float64
 3   count      400 non-null    int64
 4   latitude   400 non-null    float64
 5   longitude  400 non-null    float64
 6   post       381 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 22.0+ KB

None

          식음업장명                  주소         위도          경도  분류   평점  리뷰수
0  할머니의 레시피 서울숲  서울 성동구 서울숲2길 44-12  37.546169  127.043075  한식  4.1   62
1   아이노가든키친 광화문     서울 종로구 경희궁2길 10  37.572832  126.971270  한식  4.5   28
2        도마 인사동    서울 종로구 인사동8길 6-1  37.573813  126.985835  한식  4.4   66
3     별미볶음점 여의도  서울 영등포구 국제금융로6길 33  37.520795  126.926931  한식  4.5   38
4      녹원쌈밥 연희동   서울 서대문구 연희로25길 22  37.572529  126.934160  한식  4.3   26

In [18]:
# spots_c['주소']와 rests_c['주소'] 중 '구' 부분만 따로 컬럼('구')으로 추가
spots_c['구'] = spots_c['주소'].str.extract(r'서울\s+(\S+구)')
rests_c['구'] = rests_c['주소'].str.extract(r'서울\s+(\S+구)')

display(spots_c.head())
display(rests_c.head())

           관광지명                주소         위도          경도    구
0           경복궁    서울 종로구 세종로 1-1  37.577613  126.976898  종로구
1        북촌한옥마을   서울 종로구 가회동 30-2  37.581768  126.984812  종로구
2         남대문시장    서울 중구 남창동 49-1  37.559182  126.977627   중구
3  반포대교 달빛무지개분수  서울 서초구 반포동 649-1  37.512622  126.998394  서초구
4          광장시장    서울 종로구 예지동 2-1  37.570034  126.998942  종로구

          식음업장명                  주소         위도          경도  분류   평점  리뷰수     구
0  할머니의 레시피 서울숲  서울 성동구 서울숲2길 44-12  37.546169  127.043075  한식  4.1   62   성동구
1   아이노가든키친 광화문     서울 종로구 경희궁2길 10  37.572832  126.971270  한식  4.5   28   종로구
2        도마 인사동    서울 종로구 인사동8길 6-1  37.573813  126.985835  한식  4.4   66   종로구
3     별미볶음점 여의도  서울 영등포구 국제금융로6길 33  37.520795  126.926931  한식  4.5   38  영등포구
4      녹원쌈밥 연희동   서울 서대문구 연희로25길 22  37.572529  126.934160  한식  4.3   26  서대문구